
<div class=" py-5 overscroll-x-auto overflow-y-hidden rounded px-5 h-full">
  <div class=" w-full flex justify-between items-center relative ">
      <div class="w-[30%] p-0 shadow-sm rounded h-[100px] bg-blue-gray-100  relative flex " >
        <div class="w-[30%] h-full bg-[#232c53da] flex justify-center items-start">
          <p>fd</p>
        </div>
        <div class="w-[70%] px-2">
          <h1 class="text-xl text-dark-600"> Nombre d'utilisateur  </h1>
          <h1 class="text-xl text-dark-600" > {{statistique.nbUser}} </h1>
        </div>
      </div>
      <div class="w-[30%] p-0 shadow-sm rounded h-[100px] bg-blue-gray-100  relative flex " >
        <div class="w-[30%] h-full bg-[#232c53da] flex justify-center items-start">
          <p>fd</p>
        </div>
        <div class="w-[70%] px-2">
          <h1 class="text-xl text-dark-600"> Total covoiturage  </h1>
          <h1 class="text-xl text-dark-600" > {{statistique.nbCours}} </h1>
        </div>
      </div>
      <div class="w-[30%] p-0 shadow-sm rounded h-[100px] bg-blue-gray-100  relative flex " >
        <div class="w-[30%] h-full bg-[#232c53da] flex justify-center items-start">
          <p>fd</p>
        </div>
        <div class="w-[70%] px-2">
          <h1 class="text-xl text-dark-600"> Covoiturage en cours </h1>
          <h1 class="text-xl text-dark-600" > {{statistique.CoursInLine}} </h1>
        </div>
      </div>


  </div>
</div>
