<div class="w-full">

  <div class="w-full justify-between items-center flex mb-4">
    <h1 class="text-xl font-semibold text-gray-600 tracking-wide">
      ajouter un utilisateur
    </h1>
    <div class="text-sm ">
      <ul class="list-none flex items-center" >
        <li class="mx-1">
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z">
              </path>
            </svg>
            Tableau de bord
          </a>
        </li>
        /
        <li class="mx-1">
          <a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z">
              </path>
            </svg>
            Utilisatauer
          </a>
        </li>
        /
        <li class="mx-1">
          <span class="inline-flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
              </path>
            </svg>
            Ajouter un utilisateur
          </span>
        </li>
      </ul>
    </div>
  </div>

